body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
}

.top {
  background: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px #ccc;
}

.logo {
  color: red;
}

.menu a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.title {
  margin: 20px;
}

.box {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}

.card img {
  width: 100%;
}

.card p {
  padding: 10px;
  text-align: center;
}
